.app-header {
    background-color: #7b0d8f;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 10px;
  }
  
  .search-container {
    display: flex;
    gap: 10px;  
  }
  
  SlInput{
    margin-right: 15px;
  }
