.podcast-item {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #838282;
  background-color: #A1CCD1;
  border-radius: 4px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer; /* Add pointer cursor to indicate interactivity */
  position: relative; /* Add relative positioning for the description */
}

.podcast-item h3 {
  display: none; /* Hide the title by default */
}

.podcast-item p {
  font-size: 1rem;
}

.podcast-item audio {
  width: 100%;
  margin-top: 10px;
}

/* Style the podcast images */
.podcast-item img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px auto; /* Add some margin for spacing */
  border-radius: 4px;
  cursor: pointer; /* Add pointer cursor to indicate interactivity */
}

.overlay {
  /* Your existing styles */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  /* Add these styles for scrolling */
  overflow-y: auto;
}


/* Show the overlay when the podcast item is clicked */
.podcast-item.show-overlay .overlay {
  display: block;
  text-align: center;
  opacity: 1;
  visibility: visible;
}

/* Style the description preview */
.description-preview {
  display: block;
  max-height: 80px;
  overflow: hidden;
  
}

.seasons{
  text-align: center;
  padding: 2px;
  border: 1px solid #838282;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  background-color: #F4F2DE;
}

.podcast-item:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}

.genre{
  text-align: center;
  padding: 2px;
  border: 1px solid #838282;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

@keyframes beat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

h1 {
  animation: beat 0.6s infinite;
}

